/* Reset or Normalize CSS */
@import url(reset.css); /* Or include the contents directly */

/* General Styles */
/* Your global styles here */

/* Component-specific Styles */
@import url(components/header.css);
@import url(components/footer.css);
@import url(components/cards.css);
/* Other component stylesheets */

/* Section-specific Styles */
/* Styles for different sections/pages */
@import url(home.css);
@import url(leagues.css);
@import url(teams.css);
@import url(matches.css);
@import url(media.css);
@import url(community.css);

/* Responsive Styles */
@import url(responsive/mobile.css);
@import url(responsive/tablet.css);
/* Other responsive stylesheets */

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Variables */
body {
    /* Colors */
    --primaryColor: #1D3557;
    --secondaryColor: #FF6B6B;
    --accentColor: #F4A261;
    --neutralColor: #FFFFFF;
    --darkShade: #0D1B2A;

    /* Fonts */
    --headerFont: 'Montserrat', sans-serif;
    --bodyFont: 'Lato', sans-serif;
}

/* Font Styles */
body {
    font-family: var(--bodyFont); /* Default font */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerFont); /* Heading fonts */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 2em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

h5 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

h6 {
    font-size: 1em;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    margin-bottom: 1.5em;
}

/* Body */
body {
    background-color: var(--primaryColor);
    color: var(--neutralColor);

}

header, main {
    padding: 0 50px;
}
