
footer {
    background-color: var(--secondaryColor);
    padding: 1rem;
    font-size: 12px;
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    width: 70vw;
    margin: 0 auto;
}

.footerLinkHeader {
    font-family: var(--headerFont);
    /* font-size: 1.2rem; */
    border-bottom: 2px solid var(--darkShade);
    /* color: var(--accentColor); */
    margin-bottom: 1rem;
}

.footerLinks li {
    padding: 0.5rem 0;
}

.footerLink {
    transition: color 0.3s ease-in-out; /* Transition for font color change */
    position: relative;
}

.footerLink::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2rem;
    bottom: -0.4rem;
    left: -10%;
    background-color: var(--accentColor);
    transition: width 0.3s ease-in-out; /* Transition for highlight motion */
}

.footerLink:hover::before {
    width: 120%;
    opacity: 0.3;
}

.footerLink:hover {
    font-size: 1rem;
    text-transform: uppercase;
}

.footerLogoContainer{
    width: 100vw;
    text-align: center;
    border-top: 2px solid var(--secondaryColor);
    padding-top: 1rem;
}

.footerLogo {
    font-family: var(--headerFont);
    font-size: 2rem;
    color: var(--primaryColor);
}

.footerLogo span {
    color: var(--accentColor);
    font-size: 2rem;
}


nav .navLink {
    color: var(--accentColor);
    text-decoration: none;
    font-family: var(--bodyFont);
    font-size: 0.8rem;
    transition: color 0.3s ease-in-out; /* Transition for font color change */
    position: relative;
}

nav .navLink::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2rem;
    bottom: -0.4rem;
    left: -10%;
    background-color: var(--accentColor);
    transition: width 0.3s ease-in-out; /* Transition for highlight motion */
}

nav .navLink:hover::before {
    width: 120%;
    opacity: 0.3;
}

.navLink:hover {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--headerFont);
}