
header {
    display: flex;
    justify-content: center;
}

#headerNav {
    background-color: var(--primaryColor);
    padding: 0 2rem;
    margin-top: 2rem;
    height: 50px;
    width: 100vw;
    min-width: 780px;
    transition: 0.2s;
}

.floatingNav {
    position: fixed;
    top: 0;
    width: 70vw;
    border-radius: 50px;
    box-shadow: 0px 1px 10px var(--darkShade);
    z-index: 1000;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--headerFont);
    font-size: 1.5rem;
    color: var(--neutralColor);
    width: 30%;
    min-width: 180px;
}

.logo span {
    color: var(--accentColor);
    font-size: 1.5rem;
}

.mobileNavMenu {
    display: none;
}

.mobileNavMenu svg {
    width: 2rem;
    height: 2rem;
}

.navLinksContainer {
    width: 70%;
}

.navLinks {
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    align-items: center;
}

.navLink {
    color: var(--accentColor);
    font-family: var(--bodyFont);
    font-size: 0.8rem;
    transition: color 0.3s ease-in-out; /* Transition for font color change */
    position: relative;
}

.navLink::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2rem;
    bottom: -0.4rem;
    left: -10%;
    background-color: var(--accentColor);
    transition: width 0.3s ease-in-out; /* Transition for highlight motion */
}

.navLink:hover::before {
    width: 120%;
    opacity: 0.3;
}

.navLink:hover {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: var(--headerFont);
}